SMTP_HOST=mail.domain.com
SMTP_AUTH=true
SMTP_USER=info@domain.com
SMTP_PASS=info@domain.compassword
SMTP_SECURE=tls
SMTP_PORT=587

APP_PHONE=+359 123 456 789
APP_PHONE_CLEAN=359123456789
APP_LOCATION=София, България
APP_EMAIL=info@domain.com
AFILIATE_LINK=https://www.jump.bg/#979

DB_DRIVER=mysql
DB_HOST=localhost
DB_NAME=db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci